@use "../../sass/" as *;

.cart-modal {
}
.overlay {
  background-color: black;
  opacity: 0.4;
  width: 100%;
  height: calc(100vh - 10vh);
  position: fixed;
  bottom: 0;
  top: 10vh;
  left: 0;
  right: 0;
  z-index: 1;
}
.cart-div,
.cart-div-bottom {
  display: flex;
  justify-content: space-between;
  .remove-prev {
    @include paragaph;
    color: $paragraph-dark;
    text-decoration: underline;
    cursor: pointer;
  }
}
.modal-content {
  width: 40rem;
  min-height: 20rem;
  border-radius: 0.8rem;
  position: absolute;
  right: 21%;
  top: 120%;
  background-color: white;
  display: flex;
  z-index: 1;
  @include tablet {
    right: 3%;
  }
  @include mobile {
    right: 9.3%;
  }
  .modal-inner {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-block: 3rem;
    .empty {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 15rem;
      font-size: 2rem;
      gap: 0.5rem;
    }
    .cart-prev-icon {
      color: $primary-orange;
    }
    .cart-div-bottom {
      margin-top: auto;
      margin-bottom: 1.5rem;
      :nth-child(1) {
        @include paragaph;
        color: $paragraph-dark;
        text-transform: uppercase;
      }
      :nth-child(2) {
        font-size: 1.8rem;
        font-weight: 700;
      }
    }
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-block: 3.5rem;
      .cart-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .cart-prev-btns {
          display: flex;
          button {
            border: none;
            background-color: $secondary-background;
            cursor: pointer;
            height: 4rem;
            width: 3.5rem;
            &:hover {
              color: $primary-orange;
            }
          }
          p {
            border: none;
            background-color: $secondary-background;
            font-weight: 700;
            font-size: 1.45rem;
            height: 4rem;
            width: 3.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
      .cart-list-div {
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
        margin-left: -3rem;
        :nth-child(1) {
          font-size: 1.5rem;
          font-weight: 700;
          transition: 0.2s;
          &:hover {
            color: $primary-orange;
          }
        }
        :nth-child(2) {
          font-size: 1.4rem;
          font-weight: 600;
          color: $paragraph-dark;
        }
      }

      img {
        width: 6.4rem;
        height: 6.4rem;
        border-radius: 0.6rem;
      }
    }
    .checkout-btn {
      @include button-first;
      width: 100%;
    }
  }
}
