@use "../../sass/" as *;

figure {
  img {
    width: 55rem;
    @include tablet {
      width: 40rem; 
      margin-bottom: -7rem;
    }
    @include mobile {
      width: 45rem;
      margin-left: 0;
    }
  }
}
.details-img {
  width: 30rem;
  @include tablet {

  }
}

.product-card {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  justify-content: center;
  @include tablet {
    align-items: center;
    margin: 0 auto;
    width: 50%
  }
  h2 {
    @include product-title;
    @include tablet {
      width: 30rem;
      text-align: center !important;
    }
  }
  p {
    @include paragaph;
    width: 41rem;
    @include tablet {
      width: 56rem !important;
    }
    @include mobile {
      width: 32rem;
    }
  }
  .product-button {
    @include button-first;
  }
}
