@use "../../sass/" as *;

figure {
  @include mobile {
  }
  img {
    width: 55rem;
    @include tablet {
      width: 35rem;
      margin-bottom: -7rem;
    }
    @include mobile {
      width: 30rem;
      margin-left: -3rem;
    }
  }
}
.details-figure {
  width: 40rem;
  margin: 0 auto;
  margin-right: 10rem;
  @include tablet {
    margin: 0 auto;
  }
}
.details-img {
  @include mobile {
    margin: 0 auto;
    margin-bottom: -5rem;
    width: 100%;
  }
}
.product-card {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  @include tablet {
    display: block;
  }
  @include mobile {
    display: flex;
    align-items: center !important;
  }
  .card-title {
    @include product-title;
    @include tablet {
      margin-bottom: 2rem;
    }
    @include mobile {
      width: 90%;
      font-size: 3rem;
    }
  }
  .card-details {
    @include paragaph;
    width: 41rem;
    @include tablet {
      width: 100%;
      margin-bottom: 2rem;
    }
    @include mobile {
      width: 100%;
    }
  }
  .product-button {
    @include button-first;
    @include mobile {
    }
  }
}
