@use "../../sass/" as *;
header {
  background-color: inherit;
  position: absolute;
  width: 100%;
  height: 12vh;

  nav {
    width: 60%;
    margin: 0 auto;
    height: inherit;
    border-bottom: 1px solid rgb(92, 92, 92);

    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
      @include navlink;
    }

    ul {
      display: flex;
      gap: 3.4rem;
      a {
        @include navlink
      }
    }
    .cart-icon {
      @include navlink;
    }
  }
}
