@use "../../sass/" as *;
header {
  background-color: inherit;
  position: absolute;
  width: 100%;
  height: 10vh;
  @include tablet {
  }

  nav {
    width: 111rem;
    margin: 0 auto;
    height: inherit;
    border-bottom: 1px solid rgb(92, 92, 92);

    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tablet {
      width: 90%;
    }
    .nav-items {
      display: flex;
      gap: 3rem;
      list-style: none;
      margin-left: 3rem;
    }
    .hamburger {
      display: none;
      @include tablet {
        display: block;
        cursor: pointer;
      }
    }
    .logo {
      @include navlink;
      @include tablet {
        position: absolute;
        left: 12rem;
        top: 3.5rem;
      }
    }
    .cart-icon-div {
      position: relative;
      width: 3.5rem;
      display: flex;
      align-items: center;

      .cart-icon-quantity {
        position: absolute;
        bottom: 1rem;
        right: 3rem;
        color: $primary-orange;
        font-size: 1.7rem;
        font-weight: 900;
        border-radius: 100%;
        padding: 0.2rem 0.5rem;
        z-index: 1;
      }
    }
    ul {
      display: flex;
      gap: 3.4rem;
      padding-right: 10rem;
      a {
        @include navlink;
      }
      .nav-link {
        @include tablet {
          display: none;
        }
      }
      .nav-categories {
        display: none;
        @include tablet {
          display: block;
          width: 100%;
          padding-bottom: 12rem;
          background-color: $primary-background;
          border: 1px solid rgb(197, 197, 197);
          position: absolute;
          top: 9.5rem;
          left: 0;
          border-radius: 0 0 0.8rem 0.8rem;
          z-index: 1;
          figure {
            width: 15rem;
          }
          .grid {
            gap: 0;
            margin: 0 !important;
            div {
              gap: 0;
              margin-bottom: -0.8rem;
            }
          }
          @include mobile {
          }
        }
        div {
          .grid {
            margin-top: 8rem;
          }
        }
      }
    }
    .cart-icon {
      @include navlink;
    }
  }
}
