@use "../../sass/" as *;

footer {
  background-color: $primary-dark;
  width: 100%;
  height: 36.5rem;
  margin-top: 20rem;
  @include mobile {
    height: 95rem;
  }

  .footer-section {
    width: 111rem;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    @include tablet {
      padding-block: 5rem;
      width: 90%;
      margin-block: auto;
      flex-direction: column;
    }
    @include mobile {
    }

    .rectangle {
      position: absolute;
      width: 10rem;
      height: 0.4rem;
      background-color: $primary-orange;
      @include tablet {
        top: 0;
      }
      @include mobile {
      }
    }
    .footer-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 4rem;

      img {
        width: 14.3rem;
        height: 2.5rem;
        @include tablet {
          margin-top: 2.5rem;
        }
        @include mobile {
          align-self: center;
        }
      }
      p {
        @include paragaph;
        color: $paragraph-dark;
        width: 53rem;
        @include tablet {
          width: 67rem;
          position: relative;
          top: 5rem;
        }
        @include mobile {
          width: 90%;
          text-align: center;
        }
      }
      .copyright {
        font-weight: 700;
      }
    }
  }
  .footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: 24%;
    @include tablet {
    }

    ul {
      display: flex;
      gap: 3.4rem;
      @include tablet {
        position: relative;
        bottom: 6rem;
        text-align: center;
      }
      @include mobile {
        flex-direction: column;
        bottom: 0;
      }
      a {
        @include navlink;
      }
    }
    .footer-icons {
      display: flex;
      justify-content: end;
      gap: 1.6rem;
      position: relative;
      top: 30%;
      @include tablet {
        position: relative;
        top: 5rem;
      }
      @include mobile {
        justify-content: center;
      }
      .footer-icon {
        color: white;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
          color: $primary-orange;
        }
      }
    }
  }
}
