@use "../../sass/" as *;

footer {
  background-color: $primary-dark;
  width: 100%;
  height: 36.5rem;
  margin-top: 20rem;

  .footer-section {
    width: 111rem;
    height: 100%;
    margin: 0 auto;
    display: flex;
    @include tablet{
      width: 90%;
      margin-block: auto;
      flex-direction: column;
    }

    .rectangle {
      position: absolute;
      width: 10rem;
      height: 0.4rem;
      background-color: $primary-orange;
    }
    .footer-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 4rem;

      img {
        width: 14.3rem;
        height: 2.5rem;
      }
      p {
        @include paragaph;
        color: $paragraph-dark;
        max-width: 78%;
        @include tablet{
          width: 85rem;
        }
      }
      .copyright {
        font-weight: 700;
      }
    }
  }
  .footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: 24%;

    ul {
      display: flex;
      gap: 3.4rem;
      a {
        @include navlink;
      }
    }
    .footer-icons {
      display: flex;
      justify-content: end;
      gap: 1.6rem;
      position: relative;
      top: 30%;
      .footer-icon {
        color: white;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
          color: $primary-orange;
        }
      }
    }
  }
}
