@use "../../sass/" as *;

.add-button {
  height: 4.8rem;
  width: 4rem;
  background-color: $secondary-background;
  border: none;
  color: $paragraph-dark;
  font-weight: 700;
  font-size: 1.4rem;
  cursor: pointer;
  &:hover {
    color: $primary-orange;
    transition: 0.2s;
  }
}
.add-input {
  width: 5rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  border: none;
  outline: none;
  background-color: $secondary-background;
}
.product-price {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
}
.card-row-details {
  width: 111rem;
  margin: 0 auto;
  margin-top: 20rem;
  display: flex;
  gap: 10rem;
  @include mobile {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
}
.product-card {
  @include tablet {
    margin-left: -0.1rem;
    width: 90%;
    margin: 0 auto;
    align-items: start;
  }
  @include mobile {
    display: flex;
    flex-direction: column;
  }
  .new-div {
    .details-title {
      @include product-title;
      width: 40rem;
      @include tablet {
        margin-bottom: 1rem !important;
        font-size: 3rem;
        text-align: start !important;
        width: 30rem;
        margin: 0;
      }
      @include mobile {
      }
    }
  }
  .product-details {
    width: 50rem;
    @include paragaph;
    @include tablet {
      width: 33rem !important;
      margin-bottom: 2rem;
    }
    @include mobile {
      width: 30rem !important;
    }
  }
}
