@use "./sass/" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Manrope", sans-serif;
}
body {
  background-color: $primary-background;
}
// globals

a {
  text-decoration: none;
}
.category-header {
  @include header;
}
.card-row {
  @include card-row;
}
.flex{
  display: flex;

}
.ml{
  margin-left: 1rem;
}
